<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://stocktradeadviser-functions-swe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/dadb3b9f-f11a-4db4-8784-09e7265cd368/resourceGroups/stocktradeadviser-rg/providers/Microsoft.Web/sites/stocktradeadviser-functions-swe</ResourceId>
    <PublishUrl>https://stocktradeadviser-functions-swe.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>